{% extends "base.html" %} 

{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1>Sleuth-hound.io!!</h1>
            <br>
            {% if form.errors %}
                <p> Your username or password was incorrect. Try again.</p>
            {% endif %}
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}

                {{ form.as_p }}

                <input class="btn btn-primary" type="submit" value="Login">
                <a class="btn btn-info" href='/sleuthApp/signup'>Register</a>

            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock content%}