{% extends "base.html" %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
      <div class="col">
          <h1>Task: {{ task.0.task_subject | title }}</h1>
          <br>
          <h2>Details:</h2> 
          <p> {{ task.0.details }}</p>
          <p><h4>Opened</h4> {{task.0.date_opened}}</p>
      </div>
      <div class="col">
        <p><h4>Status</h4> {{task.0.task_status}}</p>
        <p><h4>Severity</h4> {{task.0.severity}}</p>
      </div>
      <div class="col">
        <a class="btn btn-warning" href="/sleuthApp/project/{{ project.0.id }}/task/{{ task.0.id }}/update_task">Update Task</a>
        <a class="btn btn-dark" href="/sleuthApp/project/{{ project.0.id }}">Back to Project </a>
      </div>
  </div>
  <br>
  <br>
  <div class="row">
      <table id="comment-table" class="table">
          <thead>
            <tr>
              <th class="text-center" scope="col">Comment Id</th>
              <th class="text-center" scope="col">Body</th>
              <th class="text-center" scope="col">Date Opened</th>
              <th class="text-center" scope="col">Update Comments</th>
            </tr>
          </thead>
          <tbody>
          {% for comment in comments %}
            <tr>
              <th class="text-center" scope="row">{{ comment.id }}</th>
              <td class="text-center">{{ comment.body }}</td>
              <td class="text-center">{{ comment.date_created }}</td>
              <td class="text-center">
                  <a class="btn btn-warning" href="/sleuthApp/project/{{ project.0.id }}/task/{{ task.0.id }}/update_comment/{{ comment.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg> 
                  </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <br>
        <a href="/sleuthApp/project/{{project.0.id}}/task/{{task.0.id}}/add_comment" type="button" class="btn btn-success">Add Comment</a>
  </div>
</div>
{% endblock content %}