{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
     <br>
      <br>
       <br>
        <br>

    <div class="row"></div>
    <div class= 'row'>
        <div class="col">
        </div>
        <div class="col-6">
        <h1>Welcome to SleuthHound.io!!!!</h1>
        </div>
        <div class="col">
        </div>
    </div>

    <br>

    <div class = "row">

        <div class="col">
        </div>
        <div class="col">
            <a href="{% url "sleuthApp:login" %}" class="btn btn-dark" role="button" aria-pressed="true" padding=5px>Login</a>
            <a href="{% url "sleuthApp:register" %}"  class="btn btn-dark" role="button" aria-pressed="true" padding=5px>Register</a>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock content%}