{% extends "base.html" %}

{% block content %}
<div class="container">

    <br>
    <div class="row">
        <div class="col-9">
            <h1>Project Title: {{ project.0.title | title }}</h1>
            <br>
            <h2>Project Description:</h2> 
            <h3> {{ project.0.description }}</h3>
        </div>
        <div class="col">

        </div>
        <div class="col-2">
            <a class="btn btn-dark" href="/sleuthApp/projects/">Back to Projects</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <table id="tasks-table" class="table">
            <thead>
              <tr>
                <th class="text-center" scope="col">Task Id</th>
                <th class="text-center" scope="col">Subject</th>
                <th class="text-center" scope="col">Details</th>
                <th class="text-center" scope="col">Status</th>
                <th class="text-center" scope="col">Severity</th>
                <th class="text-center" scope="col">Date Opened</th>
                <th class="text-center" scope="col">View Comments</th>
                <th class="text-center" scope="col">Update Task</th>
              </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
              <tr>
                <th class="text-center" scope="row">{{ task.id }}</th>
                <td class="text-center">{{ task.task_subject }}</td>
                <td class="text-center">{{ task.details }}</td>
                <td class="text-center">{{ task.task_status }}</td>
                <td class="text-center">{{ task.severity }}</td>
                <td class="text-center">{{ task.date_opened }}</td>
                <td class="text-center">
                    <a class="btn btn-info" href="/sleuthApp/project/{{ project.0.id }}/task/{{ task.id }}/comments">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                      </svg>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-warning" href="/sleuthApp/project/{{ project.0.id }}/task/{{ task.id }}/update_task">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>              
                    </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <br>
          <a href="/sleuthApp/project/{{project.0.id}}/create_task" type="button" class="btn btn-success">Add Task</a>
    </div>
</div>

{% endblock content %}
