{% extends "base.html" %}


{% block content %}
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col"><h1>List of Projects</h1></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <br>
  <br>
  <div class="row">
    {% for project in object_list %}
      <div class="card" style="width: 18rem; margin: .5rem;">
        <span class="border border-dark"></span>
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{project.description }}</p>
            <a href="/sleuthApp/project/{{ project.id }}" class="card-link">Tasks</a>
            <a href="/sleuthApp/project/{{ project.id }}/edit" class="card-link">Update Details</a>
            
          </div>
        </span>
      </div>
    {% endfor %}
  </div>
  <br>
  <a type="button" class="btn btn-primary" href="{% url 'sleuthApp:create_project' %}">Create Project</a>
</div>

{% endblock content %}
