{% extends "sleuthApp/base.html" %}


{% block content %}
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col"><h1>List of Projects</h1></div>
    <div class="col"></div>
    <div class="col">
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<!-- Create project button -->
<button id="create-book" class="btn btn-primary" type="button" name="button">Create Project</button>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    {% for project in object_list %}
      <div class="card" style="width: 18rem; margin: .5rem;">
        <span class="border border-dark"></span>
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{project.description }}</p>
            <a href="/sleuth/project_detail/{{ project.id }}" class="card-link">Tasks</a>
            <a href="/sleuth/update_project/{{ project.id }}" class="card-link">Update Details</a>
            
          </div>
        </span>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
