{% extends "base.html" %}

{% block content %}

<table id="tasks-table" class="table">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Title</th>
      <th class="text-center" scope="col">Description</th>
      <th class="text-center" scope="col">Type</th>
      <th class="text-center" scope="col">View / Update</th>
    </tr>
  </thead>
  <tbody>
  {% for comment in comments %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <td class="text-center">{{ project.title }}</td>
      <td class="text-center">{{ project.description }}</td>
      <td class="text-center"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock content %}